.search-form__wrapper
{
margin: 2rem auto;
padding: 2rem 0;
}


.search-form__body 
{
border-radius: 7px;
background:linear-gradient(to top,  rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.99)), url(../images/search-bg.webp);
background-repeat: no-repeat;
background-position: 100% 40%;
background-size: 120% auto;
min-height: 60vh;
display: flex;
align-items: center;
justify-content: center;

}

.search-form {
width: 95%;
font-size: 1.6rem;
display: flex;
align-items: center;
justify-content: center;
margin:2rem auto;
}

.search-form__input,.search-form__submit {
	padding: 0.5rem;
	height: 5rem;
	transition: 0.5s all  ease-in-out;
	border: none;
	outline: none;
}



.search-form__input {
width: 80%;
padding-left: 1rem;
-webkit-appearance: none !important; 
border-radius: 7px 0 0 7px;

&:focus
{
box-shadow:0 0 7px 3px $buttonColor;
}

}

.search-form__submit {
width: 20%;

border-bottom-right-radius:  7px;
border-top-right-radius: 7px;
}

.search-form__results-title
{

	padding: 2rem ;
	font-size: 1.6rem;
	color: $minorTxtColor;
	transition: all 0.3s ;
	transform: translateY(-200%);
	opacity: 0;
text-align: center;
}
.search-form__results-title.active {
	opacity: 1;
	transform: translateY(0%);
}
.search-form__results-value

{
	font-size: 1.6rem;
	font-weight: 600;
	color: $mainTxtColor;
text-transform: uppercase;
}




@media (min-width: 575.98px){ 
 
 }
 
 @media (min-width: 767.98px){
 
  } 
 
 @media (min-width: 991.98px){
 
  }
 
  @media (min-width: 1199.98px){
	.search-form {
		width: 70%;
		font-size: 1.8em;
		}
 }
 
 @media (min-width: 1399.98px){
 
 }
