.button
{
	border: none;
	outline: none;
	transition: all 0.3s linear;
	cursor: pointer;
	background-color: $buttonColor;
	border: 1px solid rgba(255, 255, 255, 0.1);
font-weight: 600;
}

.button.active
{
	box-shadow:0 0 3px 1px $buttonColor ;
}
.button:disabled
{
cursor: default;
	opacity: .5;
	pointer-events: none;
}