.footer
{
	font-size: 1.4em;
	box-shadow: $accentColor 0 -0.4px 0.1px 0.1px;
	overflow: hidden;
margin-top: 3rem;
}

.tmdb
{
	margin: 2rem;
	float: right;
	height: 4rem;
	width: 4rem;
	background-image: url(../images/tmdb.svg);
	background-position: center;
	background-size:4rem 4rem ;
	background-repeat: no-repeat;
	border-radius: 7px;
	border: 1px solid $minorTxtColor;
padding: 0.5rem 0.6rem;
transition: all 0.3s linear;
	&:hover,&:focus
	{
box-shadow: rgba(255, 255, 255, 0.3) 0 0 5px 1px;
	}
}