.header {
	background-color: black;
	position: fixed;
	width: 100%;
top: 0;
box-shadow: $accentColor 0 -1px 2px 1px;
z-index: 9;
}
.header__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	position: relative;
}
.header__logo {
	font-size: 1.8em;
	font-weight: 700;
}

.nav__mobile-toggle {
background: $mainBgColor;
outline: none;
border: 1px solid $accentColor;
padding:0.5rem 1rem ;
font-size: 1.6em;
border-radius: 7px;
color: white;
}
.nav{
position: absolute;
top: 100%;
left: 0;
width: 100%;
background-color: black;
padding: 1rem 2rem;

transition: all 0.3s linear;
transform: translateY(-150%);
opacity: 0;
border-bottom: $buttonColor 1px solid;
}
.nav.active {
transform: translateY(-0%);
opacity: 1;
}
.nav__list {
	display: flex;
	flex-direction: column;
}
.nav__item {
	margin: 0.5rem ;

}
.nav__link {
	font-size: 1.6em;
	padding: 0.3rem;
}


@media (min-width: 767.98px)
{
	.header__logo {
		font-size: 2em;
	}
	.nav__mobile-toggle 
	{
display: none;
	}

		.nav{
		position: static;
		width: auto;

		padding: 0.5rem 1.5rem;
		opacity: 1;
		border: none;
		transform: translateY(0%);
		}

		.nav__list {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
		}

		.header {
			position: fixed;
			width: 100%;
		top: 0;
		box-shadow: $accentColor 0 -1px 2px 1px;
		z-index: 9;
		}
		.nav__item {
			margin: 0 0.7rem ;
		}
		.nav__link {

color: $minorTxtColor;
border-bottom: 1px dotted transparent;
transition: all 0.3s ease-in;
&:hover,&:focus
{
	color: $mainTxtColor;
	border-bottom: 1px solid $buttonColor;
}
	}
	.header__logo {
		font-size: 1.8em;
		font-weight: 700;
		&:hover,&:focus
		{
			color: $buttonColor;
transition: all 0.4s linear;
text-shadow:  0  0px 1px;
		}
	}
} 


@media (min-width: 575.98px)
{ 

}
 
 @media (min-width: 767.98px){
 
  } 
 
 @media (min-width: 991.98px){
 
  }
 
  @media (min-width: 1199.98px){
 
 }
 
 @media (min-width: 1399.98px){
 
 }
