
<header class="header">
    <div class="header__list contanier">
      <div class=" header__logo logo">
        <a href="index.html">Кино INFO</a>
      </div>
      <nav class="nav">
        <ul class="nav__list">

          <li class="nav__item">
            <a href="top-rated.html" class="nav__link">Высший Рейтинг</a>
          </li>

          <li class="nav__item">
            <a href="trilogy.html" class="nav__link">Лучшие Трилогии</a>
          </li>

          <li class="nav__item">
            <a href="new-movies.html" class="nav__link">Новинки в Мире Кино </a>
          </li>

        </ul>
      </nav>
      <button class="nav__mobile-toggle">&#9776;</button>
    </div>
  </header>

