

.new-movies__title
{

		text-align: center;
		font-size: 2.5rem;
text-align: center;
	

}

.getmore__wrapper 
{
width: 100%;
}

.getmore__button
{
	font-size: 1.4em;
	padding: 1rem 1.5rem;
	display: block;
	margin: 0 auto;
	border-radius: 7px ;
	
	&:hover
	{
		box-shadow:  0 0 7px 2px rgba(252, 252, 252, 0.3);
	}
}

@media (min-width: 991.98px)
{
	.new-movies__title 
	{

		font-size: 3rem;

	}
}

 @media (min-width: 1199.98px){


	.new-movies__title 
	{

		font-size: 3.5rem;

	}

}