
/* общие стили для всех страниц  */
@import "global/normalize.scss";
@import "global/colors.scss";
@import "global/body.scss";

/* общие стили для всех страниц  */

/*  общие компоненты для страниц */

@import "components/footer.scss";
@import "components/header.scss";
@import "components/buttons.scss";
@import "components/modal.scss";
@import "components/hide-list";


/*  общие компоненты для страниц */


/* стили отдельных блоков */
@import "components/films__list.scss";

@import "pages/search/search.scss";
@import "pages/movie/movie.scss";

@import "pages/trilogy/trilogy.scss";
@import "pages/trilogy/trilogy__collection.scss";

@import "pages/new-movies/new-movies.scss";
@import "pages/top-rated/top-rated.scss";

/* стили отдельных блоков */


.preloader-wrapper
{
	margin: 3rem auto;
	width: 100%;
}
.preloader-chase
{
	width: 5rem;
	height: 5rem;
	position: relative;
	margin: 3rem auto;
	animation: preloader-chase 2.5s infinite linear both; 

}

.preloader-chase-dot {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0; 
	animation: preloader-chase-dot 2.0s infinite ease-in-out both; 
}

.preloader-chase-dot:before {
	content: '';
	display: block;
	width: 25%;
	height: 25%;
	background-color: $accentColor;
	border-radius: 100%;
	animation: preloader-chase-dot-before 2.0s infinite ease-in-out both; 
  }
  
  .preloader-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .preloader-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .preloader-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .preloader-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .preloader-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .preloader-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .preloader-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .preloader-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .preloader-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .preloader-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .preloader-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .preloader-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
  @keyframes preloader-chase {
	100% { transform: rotate(360deg); } 
  }
  
  @keyframes preloader-chase-dot {
	80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes preloader-chase-dot-before {
	50% {
	  transform: scale(0.4); 
	} 100%, 0% {
	  transform: scale(1.0); 
	} 
  }
  
  