.trilogy__wrapper
{

}

.trilogy__title
{
	text-align: center;
	font-size: 2.5rem;
	margin-bottom:2rem;
}

@media (min-width: 991.98px)
{
	.trilogy__title
	{

		font-size: 3rem;

	}
}

 @media (min-width: 1199.98px){


	.trilogy__title
	{

		font-size: 3.5rem;

	}

}